body.public {
    background-color: #F8F8F8;
}
.wrapper.default_auth_login.grayBackground, .wrapper.default_auth_register.grayBackground {
    background-color: #F8F8F8;
}
.default_auth_register, .default_auth_login {
    background-repeat: no-repeat !important; /* Super fun way of overriding inline style */
    background-position: center center !important; /* Super fun way of overriding inline style */
    background-attachment:fixed !important;
    -webkit-background-size: cover !important; /* Super fun way of overriding inline style */
    -moz-background-size: cover !important; /* Super fun way of overriding inline style */
    -o-background-size: cover !important; /* Super fun way of overriding inline style */
    background-size: cover !important; /* Super fun way of overriding inline style */
    position: relative;
}

.default_auth_register, .default_auth_login, html,body{
    height: 100%;
}

.navbar {
    margin-top: 15px;
    height: 67px;
    background-color: #0FC1A7;
}
.navbar-logo {
    width: 133px;
}
.navbar-logo img {
    width: 100%;
    padding: 12% 18%;
}
#registrationBox, #loginBox{
    background-color: #FEFEFE;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.registrationContainer, .loginContainer{
    padding-top: 50px;
}
.logoWrap {
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logoWrap img {
    width: 70%;
}
.info-field {
    font-size: 13px;
    margin-top: 7px;
    color: #747474;
}
#registrationBox .confirmAgeRow {
    margin-top: 20px;
}
.actionText{
    font-size: 19px;
    color: rgb( 104, 105, 106 );
}
.alternativeActionText span{
    color: rgb( 104, 105, 106 );
}
.alternativeActionText{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.alternativeActionText a{
    text-decoration: none;
    color: #0795D3;
}

.public.default_auth_login .alternativeActionText a, .public.default_auth_register .alternativeActionText a {
    color: #0EB39B;
    font-weight: 500;
}

.registerFormWrap, .loginFormWrap{
    margin: 30px auto 0;
    width: 300px;
}
.authFormRow.login-pass, .authFormRow.register-pass {
    border-bottom: 2px solid #C4C4C4;
}
.authFormRow input[type="text"], .authFormRow input[type="password"], .authFormRow input[type="email"]  {
    width: 100%;
    font-size: 21px;
    height: 35px;
    border: 0;
    font-family: 'Roboto', 'Serif';
    background-color: #FEFEFE;
    border-radius: 0;
    padding: 0;
}

.authFormRow #loginPassword_v2FromPopup, .authFormRow.register-pass input {
    width: 83% !important;
    border-bottom: 0;
}
.pass-eye-login, .pass-eye-register {
    width: 27px;
    vertical-align: middle;
    float: right;
    padding-top: 6px;
}

#loginEmailFromPopup::-webkit-input-placeholder {
    color: #C4C4C4;
}
#loginEmailFromPopup:-moz-placeholder {
    color: #C4C4C4;
}
#loginEmailFromPopup::-moz-placeholder {
    color: #C4C4C4;
}
#loginEmailFromPopup:-ms-input-placeholder {
    color: #C4C4C4;
}
#loginPassword_v2FromPopup::-webkit-input-placeholder {
    color: #C4C4C4;
}
#loginPassword_v2FromPopup:-moz-placeholder {
    color: #C4C4C4;
}
#loginPassword_v2FromPopup::-moz-placeholder {
    color: #C4C4C4;
}
#loginPassword_v2FromPopup:-ms-input-placeholder {
    color: #C4C4C4;
}
.authFormRow input::-webkit-input-placeholder {
    color: #C4C4C4;
}
.authFormRow input:-moz-placeholder {
    color: #C4C4C4;
}
.authFormRow input::-moz-placeholder {
    color: #C4C4C4;
}
.authFormRow input:-ms-input-placeholder {
    color: #C4C4C4;
}

.authFormRow .error {
    font-size: 12px;
    color: #FF0075;
    font-family: 'Roboto', 'Serif';
    margin-top: 10px;
    height: 13px;
}

.authFormRow.hasEditableInput {
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #C4C4C4;
}

.authFormRow input[type="text"].input-edit, .authFormRow input[type="password"].input-edit, .authFormRow input[type="email"].input-edit,
.authFormRow.input-edit {
    border-color: #0FC1A7 ;
}

.input-error {
    border-color: #FF0075 !important;
}


.authFormRow input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FEFEFE inset !important;
}
.authFormRow input[type="submit"] {
    width: 100%;
    height: 55px;
    margin-top: 30px;
    border: medium none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 15px;
    font-family: 'Roboto', 'Serif';
    font-weight: 500;
}
.confirmAgeLabel {
    color: rgb( 106, 103, 103 );
}
.confirmAgeLabel a {
    text-decoration: none;
    color: #08B198;
    font-weight: 500;
    line-height: 15px;
}

#page-footer-links {
    margin: 0;
}

#page-footer-links li{
    display: inline;
    color: #ffffff;
    font-size: 14px;
}
#page-footer-links li a{
    color: #ffffff;
    font-family: 'Roboto', 'Serif';
    font-size: 14px;
    font-weight: 300;
} 

.default_auth_login #page-footer-links li, .default_auth_register #page-footer-links li {
     color: #7d7b7b;
}

.default_auth_login #page-footer-links li a, .default_auth_register #page-footer-links li a{
    color: #7d7b7b;
    font-family: 'Roboto', 'Serif';
    font-size: 14px;
    font-weight: 300;
} 
#page-footer-links li a:hover{
    color: #ffffff;
}
.footerContainer {
    text-align: center;
    padding-bottom: 20px;
}
.authFormRow {
    position: relative;
}

/*
 * Best clearfix
 */
.authFormRow:after {
    content: ' ';
    display: table;
    clear: both;
}
.authFormRow .inputInlineLabel , .authFormRow #inlineLabelForloginPassword_v2FromPopup, .authFormRow #inlineLabelForloginEmailFromPopup{
    position: absolute !important;
    top: 5px !important;
}
.submitBtn {
    padding-bottom: 0;
}
#registerForm .ajaxloader, #loginForm .ajaxloader{
    background-position: 65% 18px;
    padding: 15px 20px 15px 0;
    text-align: center;
    display: block;
    margin-top: 30px;
    height: 25px;
    border-radius: 5px;
}
#rememberMeLabel{
    color: #747474;
    font-size: 14px;
    margin-top: 6px;
}
.confirmAgeLabel{
    color: #747474;
    font-size: 12px;
    margin-top: 6px;
}
.rememberMeBox {
    margin: 25px 0;
}
#rememberMe, #confirm_user_age {
    display: none;
}
#rememberMe + label, #confirm_user_age + label:first-of-type {
    margin-left: 0 !important;
    display:inline-block;
    float: left;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 8px;
    background:url(../images/login/auth_mark_default.png) center no-repeat;
    background-size: 25px;
     // -webkit-filter: drop-shadow(0px 0px 5px rgba(219,219,219,100));
}

#rememberMe:checked + label, #confirm_user_age:checked + label:first-of-type {
    background:url(../images/login/auth_mark_check.png) center no-repeat;
    background-size: 25px;
}

.forgotPassword{
    display: inline-block;
    font-family: 'Roboto', 'Serif';
    font-size: 14px;
    color: #0EB39B;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
}
#confirm_user_age{
    margin-left: 0 !important;
}
.default_auth_register .footerContainer, .default_auth_login .footerContainer{
    bottom: 20px;
    position: absolute;
    width: 100%;
}
.orig_bg{
    background: #fff;
}
.pyr_bg {
    background-image: url('../images/general/auth/pyr_bg_1300x900.jpg') !important;
}
.beach_bg{
    background-image: url('../images/general/auth/beach_bg_1300x900.jpg') !important;
}
.flag_bg{
    background-image: url('../images/general/auth/flag_bg_1300x900.jpg') !important;
}
.rbow_bg{
    background-image: url('../images/general/auth/rbow_bg_1300x900.jpg') !important;
}
.wow_bg{
    background-image: url('../images/general/auth/wow_bg_1300x900.jpg') !important;
}
.bridge_bg{
    background-image: url('../images/general/auth/bridge_bg_1300x900.jpg') !important;
}

#appstore-links {
    text-align: center;
    margin-top: 30px;
}
#registerForm #appstore-links {
    margin-top: 0;
}
#appstore-links a {
    text-decoration: none;
}
#appstore-links a:first-child {
    margin-right: 10px;
}
#appstore-links button {
    background-color: black;
    border-radius: 7px;
    border: 0;
    height: 53px;
    width: 154px;
    box-shadow: 0 12px 14px 0 hsla(243, 13%, 73%, 0.61);
    cursor: pointer;
    margin-top: 7px;
}

#appstore-links button img {
    vertical-align: middle;
    width: 100%;
}
    
#appstore-links button:focus {
    outline:0;
}
.alternativeActionText {
    display: block;
}
.logoWrap .title {
    display: none;
    font-family: 'Roboto', 'Serif';
    font-size: 34px;
    font-weight: 600;
}
.switch-title {
    display: none;
    margin-bottom: 0;
}
.text-center {
    text-align: center;
}


@media only screen and (min-width: 1024px), only screen and (min-device-width: 1024px){
    .orig_bg{
        background: #fff;
    }
    .pyr_bg {
        background-image: url('../images/general/auth/pyr_bg_1024x768.jpg') !important;
    }
    .beach_bg{
        background-image: url('../images/general/auth/beach_bg_1024x768.jpg') !important;
    }
    .flag_bg{
        background-image: url('../images/general/auth/flag_bg_1024x768.jpg') !important;
    }
    .rbow_bg{
        background-image: url('../images/general/auth/rbow_bg_1024x768.jpg') !important;
    }
    .wow_bg{
        background-image: url('../images/general/auth/wow_bg_1024x768.jpg') !important;
    }
    .bridge_bg{
        background-image: url('../images/general/auth/bridge_bg_1024x768.jpg') !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-device-width: 768px) and (max-device-width : 1023px) {
    .wow_bg, .bridge_bg{
        background-image: url('../images/general/auth/orig_bg_768x1024.jpg') !important;
    }
    .orig_bg{
        background: #fff;
    }
    .pyr_bg {
        background-image: url('../images/general/auth/pyr_bg_768x1024.jpg') !important;
    }
    .beach_bg{
        background-image: url('../images/general/auth/beach_bg_768x1024.jpg') !important;
    }
    .flag_bg{
        background-image: url('../images/general/auth/flag_bg_768x1024.jpg') !important;
    }
}
@media only screen and  (max-width: 767px), only screen and (max-device-width : 767px) {
    .wow_bg, .bridge_bg{
        background-image: url('../images/general/auth/orig_bg_640x1136.jpg') !important;
    }
    .orig_bg{
        background: #fff;
    }
    .pyr_bg {
        background-image: url('../images/general/auth/pyr_bg_640x1136.jpg') !important;
    }
    .beach_bg{
        background-image: url('../images/general/auth/beach_bg_640x1136.jpg') !important;
    }
    .flag_bg{
        background-image: url('../images/general/auth/flag_bg_640x1136.jpg') !important;
    }
    .rbow_bg{
        background-image: url('../images/general/auth/rbow_bg_640x1136.jpg') !important;
    }
}

@media (max-width: 640px), (max-device-width: 640px){
    body.public, .wrapper.default_auth_login.grayBackground, .wrapper.default_auth_register.grayBackground{
        background-color: #FAFAFA;
    }
    .public.new-landing .wrapper.grayBackground {
        min-width: initial;
    }
    .loginContainer, .registrationContainer {
        padding-top: 0 !important;
    }
    #registrationBox, #loginBox {
        margin: 0 auto;
        width: auto;
        border: 0;
    }
    .registerFormWrap, .loginFormWrap {
        width: auto;
        padding: 0 20px;
    }
    .authFormRow input[type="text"], .authFormRow input[type="password"], .authFormRow input[type="email"] {
        width: 290px;
        padding: 0;
    }
    .alternativeActionText, .logoWrap img {
        display: none;
    }
    .switch-title, .logoWrap .title {
        display: block;
    }
    #registrationBox, #loginBox, .logoWrap {
        border-radius: 0;
    }
    .authFormRow {
        width: 290px;
        margin: 0 auto;
    }
    #appstore-links button {
        width: 140px;
        height: 47px;
    }
    #appstore-links {
        margin-top: 18px;
    }
    .info-field {
        width: 290px;
        margin: 7px auto 0;
    }
}

@media only screen and (max-height: 473px){
    .registrationContainer{
        padding-top: 0;
    }
}
@media only screen and (max-height: 391px){
    .loginContainer{
        padding-top: 0;
    }
}

@media (max-device-width: 640px) {
    .logoWrap {
        padding: 24px 0 18px 0;
    }
    .logoWrap .title {
        font-size: 25px;
        height: 33px;
    }
    .alternativeActionText {
        margin-top: 6px;
        font-size: 15px;
    }
    .authFormRow input[type="text"], .authFormRow input[type="password"], .authFormRow input[type="email"] {
        font-size: 19px;
        height: 40px;
        border-radius: 0;
    }
    .pass-eye-login, .pass-eye-register {
        width: 25px;
    }
    .forgotPassword {
        font-size: 15px;
        letter-spacing: 0.2px;
    }
    #rememberMe + label, #confirm_user_age + label:first-of-type {
        width: 23px;
        height: 23px;
        background-size: 23px;
    }
    #rememberMeLabel {
        font-size: 15px;
        margin-top: 4px;
    }
    .info-field {
        font-size: 14px;
    }
    .authFormRow input[type="submit"] {
        height: 55px;
        border-radius: 6px;
        font-size: 18px;
        margin-top: 18px;
    }
    .public.wrapper.default_auth_login.grayBackground #loginForm .ajaxloader {
        height: 55px;
        padding: 0 15px;
        font-size: 18px;
        margin-top: 18px;
    }
    .public.wrapper.default_auth_login.grayBackground #loginForm .ajaxloader a {
        padding-top: 18px;
        display: inline-block;
    }
    div.ajaxloader.greenAjaxLoader {
        margin-top: 10px;
    } 
     #appstore-links button img {
         width: 100%;
     }
    #appstore-links button {
        height: 47px;
        width: 140px;
        border-radius: 6px;
        margin-top: 14px;
    }
    .registerFormWrap, .loginFormWrap {
        width: 290px;
        padding: 0 15px;
    }
    #appstore-links {
        margin-top: 11px;
    }
}

/**
*iphone 6+
*/
    
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio: 2) {
    @media only screen and (orientation: portrait) {
        .logoWrap {
            padding: 30px 0 30px 0;
        }
        
        #appstore-links {
            margin-top: 40px;
        }
        
        .authFormRow input[type="submit"] {
            margin-top: 30px;
            height: 65px;
            font-size: 23px;
            font-weight: 400;
        }
        
        .authFormRow {
           margin: 15px auto;
        }
        
        .registerFormWrap, .loginFormWrap {
            width: calc(100% - 30px);
        }
        
        .authFormRow input[type="text"], .authFormRow input[type="password"], .authFormRow input[type="email"] {
            font-size: 23px;
            width: 100%;
            height: 45px;
        }
        
        .authFormRow {
            margin: 0 auto;
            width: 100%;
        }
        
        .logoWrap .title {
            font-size: 28px;
        }
        
        .alternativeActionText {
            font-size: 17px;
        }
        
        .navbar {        
            height: 80px;
        }
        
        .navbar-logo img {
            padding: 15% 18%;
        }
        
        .registrationContainer #appstore-links {
            margin-top: 20px;
        }
    }
}